<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <root level="debug">-->
<!--    </root>-->

<!--    <logger name="org.zalando.logbook.Logbook" level="trace" additivity="false">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->

<!--    <logger name="pjatk.socialeventorganizer" level="debug">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="pjatk.socialeventorganizer" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
<!--    <logger name="guru.springframework.helpers" level="WARN" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </logger>-->
</configuration>